.case_study_main
  :margin-left 235px
  :font-size 12px
  h1
    :margin 0px 0px 10px 0px
    :font-size 20px
    :text-transform uppercase
    :font-family Tahoma, Geneva, sans-serif
    :font-weight normal
    :color #0E66AE
  h2
    :margin 0px 0px 10px 0px
    :font-size 16px
    :text-transform uppercase
    :font-family Tahoma, Geneva, sans-serif
    :font-weight normal
    :color #0E66AE
  .images
    :float right 
    :margin 10px
    p
      :text-transform uppercase
      :overflow visible
      :height 0px
      :margin 0
      :top 330px
      :left 20px
      :font-size 14px
      :position relative
      