.breadcrumbs
  :margin-top 10px
.contact_us
  :margin-left 235px
  :margin-right 350px
  h1
    :margin 0px 0px 10px 0px
    :font-size 20px
    :text-transform uppercase
    :font-family Tahoma, Geneva, sans-serif
    :font-weight normal
    :color #0E66AE
  p
    :font-size 12px
  form
    input[type='email'],  input[type='text'], textarea
      :border 1px solid #A5C0DB
      :line-height 16px
      :padding 4px
    textarea
      :width 80%
    input[type='submit']
      :color #FFF
      :background-color #A3101A
      :-webkit-border-radius 6px
      :-moz-border-radius 6px
      :border none
      :padding 4px 6px
      :font-size 12px
  label
    :text-transform uppercase
    :color #333
    :display block
    :font-size 14px
    :margin-top 10px
.contact_details 
  :float right
  :margin-right 10px
  :margin-bottom 10px
  :width 330px
  :background-color #F2F2F2
  :border 1px solid #D5D5D3
  h2
    :margin 0
    :text-indent -9999px
    :overflow hidden
    :background-image url(/images/contact_details.png)
    :height 100px
    :width 100px
  p
    :font-size 12px
    :margin 10px
    strong
      :color #B30002
      :font-size 14px
  ul
    :border-top 1px dashed #CCC
    :border-bottom 1px dashed #CCC   
    :font-size 24px
    :color #333
    :list-style-type none
    a
      :color #333
      :text-decoration none
      &:hover
        :text-decoration underline
    :line-height 40px
    li
      :margin 20px
  
  .map
    :width 290px
    :margin 10px auto
  .address
    :margin 10px
    h4
      :margin 0
      :font-size 14px
    :font-size 12px
.errorExplanation
  :color #8A1F11
  :background-color #FBE3E4
  :border 1px solid #FBC2C4
  :margin 0
  :padding 1em
  ul
    :margin 0
    :list-style-type none
.errorExplanation
  h2
    :font-size 14px

  ul li
    :list-style-type square
    :list-style-image none