form.new_enquiry
  :margin-top 2em
  div
    :overflow auto
    :padding 0.2em
    :padding-left 0
    &.fieldWithErrors
      :display inline
      input[type=text], textarea
        :border 1px solid rgb(255, 97, 84)  
      label
        :color rgb(255, 97, 84) 
  label
    :display block
    :float left
    :width 130px
    :clear right
    :color #555
    :font-size 90%
    :line-height 200%
    :vertical-align middle
  input[type=text], textarea
    :border 1px solid #999
    :font-size 100%
    :width 150px
    :padding 2px
    &:focus
      :border 1px solid rgb(11, 97, 174)
      :outline 0px
    #express_contact_us &
      :width 140px
  textarea
    :width 280px
  input[type=image]
    :margin-left 130px
    #express_contact_us &
      :margin-left 88px
    
    