@charset "utf-8"
@import home.sass
@import projects.sass
@import enquiry.sass
@import services.sass
@import sample.sass
@import tweet.sass
@import helped.sass
@import inspiration.sass
@import banners.sass
@import news_letters.sass


*
  :font-family Arial, Helvetica, sans-serif

a
  :font-size 11px
  &:link, &:visited
    :color #2d9dd8
    :text-decoration none

  &:hover
    :color #0b61ae
    :text-decoration underline

  &.menu
    :color #a6a6a6

  .reflection &
    :color #333333
    :text-decoration none

    &:hover
      :color #333333
      :text-decoration underline

.background
  :background-color #cfd0d0

.top_banner
  :background-image url(../images/banner.jpg)
  :background-repeat no-repeat
  :height 128px

.top_menu
  :padding-left 5px

.container_content
  :background-color #ffffff

.hero
  :background-color #FFFFFF
  :padding 10px
  :width 393px

.line
  :background-color #FFFFFF
  :float left
  :width 7px
  :background-repeat repeat-y
  :padding-top 20px

.text_container
  :text-decoration none
  :background-color #FFFFFF
  :width 500px
  :padding-top 20px

.share_container
  :padding 10px
  :background-color #FFFFFF

.round_container
  :background-color #FFFFFF

.logo_container
  :padding-left 10px

.logo_content
  :padding 5px

.thumbnail
  :padding-bottom 10px

  a img
    :border none

h1
  :font-size 12px
  :color #0a61ae
  :text-decoration none
  :padding-left 10px
  :padding-top 10px
  :float left

.news #page_content h1
  :float none
  :font-size 14px !important
  :padding-left 24px
h2
  :font-size 11px
  :color #595959
  :line-height 12px
  :font-weight normal
  :padding 10px
  :line-height 15px
  :margin-bottom 0px
  :padding-bottom 0px
  :line-height 15px

.boxes_container
  :background-color #FFFFFF
  :padding 10px

.latest_news
  :padding-left 10px
  :padding-top 10px
  :padding-bottom 5px
  :background-color #e1e1e1

.contact
  :padding-left 10px
  :padding-top 10px
  :padding-bottom 5px
  :background-color #e1e1e1

.content_box
  :padding-top 10px
  :padding-right 10px
  :padding-bottom 10px
  :background-image url(../images/boxes/bg.jpg)
  :background-repeat no-repeat
  :background-color #e1e1e1
  :height 210px

.content_contact
  :padding-top 10px
  :padding-right 10px
  :padding-left 25px
  :padding-bottom 10px
  :background-image url(../images/boxes/bg.jpg)
  :background-repeat no-repeat
  :height 210px
  :color #595959
  :font-size 11px
  :background-color #e1e1e1

.field_container
  :padding-top 8px

.field
  :color #888888
  :font-size 11px
  :padding 3px

.sub_container
  :background-color #FFFFFF
  :padding 14px

body
  &.news form
    label
      :display block
      :clear both
      :color #8e8e8e
      :line-height 12px
      :font-weight normal
      :padding 5px
      :font-size 16px

    input
      :display block
      :clear both

      &#news_title
        :width 500px
        :font-size 120%

    textarea#news_content
      :width 500px

  &.projects form
    label
      :display block
      :clear both
      :color #8e8e8e
      :line-height 12px
      :font-weight normal
      :padding 5px
      :font-size 16px

    input
      :display block
      :clear both

      &[type='submit']
        :display inline

      &#project_name
        :width 500px
        :font-size 120%

    textarea
      :display block
      :clear both

      &#project_description
        :width 500px
  & #page_title
    :width 400px
    :font-size 120%
    :padding 4px
  & text_area#page_content
    :width 400px
    :padding 4px
  &.dashboard
    h1, h2
      :float none

.breadcrumb
  :background-color #FFFFFF
  :padding 5px
  :font-size 11px
  :color #8e8e8e
  :text-transform lowercase

.subtext_container
  :padding 10px

  .errorExplanation
    h2, p
      :color #CC0000

  .errorExplanation ul li, span.errorExplanation
    :color #CC0000

  h2, p
    :color #595959


.contact_table
  :font-size 11px
  :text-decoration none
  :padding-left 5px

.lhs_menu
  :font-size 11px
  :color #2e9dd8
  :text-decoration none
  :background-image url(../images/menu/bg.jpg)
  :background-repeat no-repeat
  #:height 300px
  :width 217px

.list
  :font-size 11px
  :color #2e9dd8
  :padding-left 20px
  :padding-top 15px

.menu
  :font-size 11px
  :color #2e9dd8
  :padding-top 15px

.rhs_menu
  :font-size 11px
  :color #2e9dd8
  :text-decoration none
  :background-image url(../images/menu/bg2.jpg)
  :background-repeat no-repeat
  :height 300px
  :width 217px

.RHS_heading
  :padding 5px

.footer_container
  :background-color #cfd0d0
  :height 142px

.footer
  :background-color transparent
  :width 991px


.main_footer
  :background-color #A3C3CE
  :position relative
  :top 45px
  :margin-left 0
  :margin-right 0

.clients
  :width 100px
  :background-color transparent
  :background-image url(../images/footer_bg.gif)
  :width 991px
  :background-repeat repeat-y
  :background-position bottom left
  :position relative
  :top -45px

.reflection
  :background-image url(../images/reflection.jpg)
  :background-repeat no-repeat
  :height 60px
  :padding 10px
  :color #333333
  :font-size 11px
  :position relative
  :top -45px

li
  :list-style-position outside
  :list-style-image url(../images/boxes/li.gif)
  :font-size 11px
  :color #595959

ul
  :color #595959
  :margin-top 0px
  :padding-top 0px

p
  :color #8E8E8E
  :font-size 11px
  :font-weight normal
  :line-height 12px
  :padding 10px
  :padding-bottom 0px
  :margin 0px
  :clear left

div
  &.pagination
    :display inline

    .prev_page, .next_page
      :display none

    a
      :border 1px #d1d1d1 solid
      :padding 3px
      :color #595959
      :font-size 11px
      :padding-left 4px
      :padding-right 4px

    .current
      :border 1px rgb(200,200,200) solid
      :padding 3px
      :color #595959
      :background-color rgb(200,200,200)
      :font-size 11px
      :padding-left 4px
      :padding-right 4px

  &.page_info
    :display inline
    :border 1px #d1d1d1 solid
    :font-size 11.5px
    :padding 3px
    :color #595959
    :padding-left 4px
    :padding-right 4px

  &#services
    a
      :background-color #FFFFFF

    div
      :color #595959
      :background-color #FFFFFF
      :font-size 11px
      :padding 0px
      :margin 0px
      :line-height 11px

  &.not_authorised
    :color #CC0000
    :border 1px solid #CC0000
    :background-color #FFCCCC
    :padding 0.5em
    :width 300px


span.errorExplanation
  :color #CC0000


.errorExplanation
  h2
    :font-size 14px

  ul li
    :list-style-type square
    :list-style-image none

.formError
  :float left
  :color #CC0000
  :padding-left 1em

u
  :color #595959
  :line-height 15px
  :padding 10px
  :font-size 11px
  :display block
  :text-decoration none

  strong a
    :color #2D9DD8

.admin_toolbar
  :text-align right
  :color #2D9DD8
  :font-size 11px

.text_li
  :padding-top 8px
  :padding-right 8px
  :padding-left 40px

#page_content 
  p
    :color #595959
    :font-size 11px
    :font-weight normal
    :padding 10px
    :line-height 15px
    a
      :font-weight bold
    

.main
  :width 1005px
  :position relative
  :margin auto 
  :padding-bottom 12  px
  :margin-bottom 10px
  :background-image url(../images/footer_bg.gif)
  :background-position bottom left
  :background-repeat no-repeat

.top_banner
  ul
    :float right
    :list-style-type none
    :margin-top 102px
    li
      :float left
      :list-style-type none
      :list-style-image none
      :margin-right 5px
      :height 26px
      a
        img
          :border none
.content
  :background-color #FFFFFF
  :background-image none
  :background-position bottom left
  :background-repeat no-repeat
  :padding 10px
  :padding-bottom 10px
  
.footer
  :width 1005px
  :margin auto
  :position relative
  .clients
    :height 90px
    :padding-bottom 0px
    :margin-bottom 0px
    :padding-left 25px
    :width 100%
    :line-height 100px

  .reflection
    :text-align right
form.edit_page,
form.new_page
  #preview
    :border 1px dashed #999999
    :width 500px
    :background-color #EEEEEE
    :padding 1em
    :float right
  .assets
    .full_path
      :display none

#share
  :float right
  
body.home .hero
  :width auto
  
body.home .home_page
  a
    :font-weight bold
  h1
    :text-transform uppercase
    :font-weight normal
    :font-size 18px
body, body.background
  :background-image url(../images/background.jpg)
  :background-repeat no-repeat
  :background-color #E7ECEF
  :padding-left 0
  :padding-right 0
  :margin-left 0
  :margin-right 0

.left, 
.right,
.center
  :float left
  :width 217px
  :padding 0 
  :margin 0
.right
  :float right
  :background-image url(../images/line.jpg)
  :background-repeat no-repeat
  :background-position top left
  :height 400px
  .side_menu
    :background-image url(../images/menu/bg2.jpg)
    :background-repeat no-repeat
    :background-position top right
    :padding-top 15px
    :margin-left 15px
    h3
      :margin-top 0px
      :text-align right
      :margin-right 15px
    .twitter a
      :display block
      :width 100%
      :height 56px
      :background-image url(../images/twitter2.jpg)
      :background-repeat no-repeat
      :background-position top right
      :text-indent -9999px
    .subscribe a
      :display block
      :width 100%
      :height 56px
      :background-image url(../images/subscribe.jpg)
      :background-repeat no-repeat
      :background-position top right
      :text-indent -9999px
    #contact_information p
      :color rgb(89, 89, 89) 
      :text-transform none
    div
      :border-bottom 1px dashed #CCCCCC
      :padding 5px
      :padding-left 0px
      :margin 5px
      p
        :margin-left 0
        :padding-left 0
.left
  :background-image url(../images/line.jpg)
  :background-repeat no-repeat
  :background-position top right
  :height 400px
  .side_menu
    :font-weight normal
    :text-transform uppercase
    ul
      :margin 0
      :padding-left 20px
      :list-style-type none
      :list-style-image none
    li
      :list-style-image none
      :height 32px
      :border-bottom 1px dashed #CCC
      :line-height 32px
      :color #2D9DD8
      :padding-left 30px
      &.current 
        :background-image url(../images/menu/li.jpg)
        :background-repeat no-repeat
        :background-position 10px 13px
    a
      :font-weight normal
      :color #595959
    :background-image url(../images/menu/bg.jpg)
    :padding-top 15px
    :margin-right 15px
    :background-repeat no-repeat
    img
      :margin-top 0px
      :text-align right
      :margin-left 15px
      :margin-bottom 15px
.center
  :width 551px
  
.clear
  :clear both

.admin
  :margin auto
  :padding 10px
  :background-color #EEE
  :border #DDD dashed 1px
  :clear both
  
#express_contact_us
  .formError
    :margin-left 1em
    :font-size 80%

#contact_information
  h3
    :background-image url(../images/contact-lhs.png)
    :height 21px
    :background-position top right
    :background-repeat no-repeat
    :text-indent -99999px
    :text-align left
  p
    :padding 2px 0px
    
    
#page_content
  ul
    :margin 0
    :padding 0
    :padding-left 10px
    :list-style-position inside
    li
      :list-style-position inside
  li
    :padding 5px
.hide
  :display none

.news-content
  :padding-left 16px

.page_text_content
  :padding-left 0
  :padding-right 0
  :padding-top 10px
  :padding-bottom 2em
  :margin auto
  :width 501px
  p, h1
    :margin-top 0 !important
    :padding-left 0  !important
    :padding-right 0 !important

  &.news_text_content
    :padding-top 0px