/* line 1, sass/_base.sass */
body {
  font-size: 12px; }

/* line 4, sass/_base.sass */
img {
  border: none; }

/* line 7, sass/_base.sass */
a {
  text-decoration: none; }
  /* line 9, sass/_base.sass */
  a:hover {
    text-decoration: underline; }

/* line 11, sass/_base.sass */
.placeholder {
  color: #999; }

/* line 3, sass/application.sass */
.wrapper {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  background-color: #FFF;
  float: left;
  width: 100%;
  padding-bottom: 1px; }

/* line 12, sass/application.sass */
body {
  background-color: #F5F5F5;
  background-image: url(/images/bg-gradient.jpg);
  background-repeat: repeat-x;
  font-family: Arial;
  margin: 0; }
  /* line 19, sass/application.sass */
  body .outer {
    background-image: url(/images/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 1px;
    margin: 0;
    width: 100%;
    float: left; }

/* line 27, sass/application.sass */
.header {
  background-image: url(/images/WI-logo.png);
  background-position: 40px 10px;
  background-repeat: no-repeat;
  height: 138px; }
  /* line 32, sass/application.sass */
  .header h1, .header h2 {
    text-indent: -9999px;
    overflow: hidden;
    margin: 0px; }

/* line 37, sass/application.sass */
.nav {
  background-image: url(/images/top-nav-bar.jpg);
  height: 41px;
  -webkit-border-top-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px; }
  /* line 44, sass/application.sass */
  .nav li {
    list-style-type: none;
    float: left; }
    /* line 47, sass/application.sass */
    .nav li a {
      color: #AAA;
      line-height: 41px;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Arial;
      font-size: 12px;
      padding: 0 18px; }

/* line 56, sass/application.sass */
body.home #home_tab, bosy.websites #projects_tab, body.projects #projects_tab, body.banners #projects_tab,
body.enquiries #contact_us_tab, body.case_studies #case_study_tab, body.services #services_tab, body.newsletters #projects.tab, body.posts #blogs_tab, body.company #company_tab, body.why_choose_us #company_tab, body.clients #clients_tab, body.websites #projects_tab, body.news_letters #projects_tab, body.tags #blogs_tab {
  background-image: url(/images/arrow-nav-bar.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%; }
  /* line 62, sass/application.sass */
  body.home #home_tab a, bosy.websites #projects_tab a, body.projects #projects_tab a, body.banners #projects_tab a,
  body.enquiries #contact_us_tab a, body.case_studies #case_study_tab a, body.services #services_tab a, body.newsletters #projects.tab a, body.posts #blogs_tab a, body.company #company_tab a, body.why_choose_us #company_tab a, body.clients #clients_tab a, body.websites #projects_tab a, body.news_letters #projects_tab a, body.tags #blogs_tab a {
    font-weight: bold;
    color: #FFF; }

/* line 65, sass/application.sass */
.container {
  width: 1004px;
  margin: 0 auto; }

/* line 69, sass/application.sass */
body.home .testimonials {
  height: 80px;
  background-color: #FAFAFA;
  border-top: 1px solid #CCC;
  font-family: Arial;
  font-size: 12px;
  line-height: 14px; }
  /* line 71, sass/application.sass */
  body.home .testimonials h2 {
    background-image: url(/images/testimonials.png);
    height: 31px;
    width: 96px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    margin: 12px 46px;
    float: left; }
  /* line 85, sass/application.sass */
  body.home .testimonials .testimonial {
    margin-left: 200px;
    padding-top: 1px;
    padding-bottom: 1px; }
    /* line 89, sass/application.sass */
    body.home .testimonials .testimonial img {
      float: left;
      margin-top: 4px;
      margin-right: 20px; }
      /* line 93, sass/application.sass */
      body.home .testimonials .testimonial img.long {
        float: none; }
    /* line 95, sass/application.sass */
    body.home .testimonials .testimonial p {
      margin: 0;
      margin-top: 13px;
      line-height: 14px;
      width: 660px;
      color: #54616E; }
      /* line 101, sass/application.sass */
      body.home .testimonials .testimonial p.author {
        color: #F3A144;
        margin-top: 0;
        margin-bottom: 20px; }
      /* line 105, sass/application.sass */
      body.home .testimonials .testimonial p.long {
        margin-top: 0; }

/* line 109, sass/application.sass */
.blog {
  width: 302px;
  background-color: #EFEFEF;
  margin: 10px;
  padding: 12px;
  float: right;
  border: 1px solid #D3D3D3;
  display: inline;
  height: 433px;
  font-size: 12px;
  color: #54616E; }
  /* line 118, sass/application.sass */
  .blog .blog_links {
    float: right; }
    /* line 120, sass/application.sass */
    .blog .blog_links a {
      padding-left: 30px; }
      /* line 122, sass/application.sass */
      .blog .blog_links a.rss {
        background-image: url(/images/rss-icon.jpg);
        background-repeat: no-repeat;
        padding-top: 10px; }
  /* line 126, sass/application.sass */
  .blog h2 {
    background-image: url(/images/blog.png);
    height: 44px;
    width: 61px;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    margin: 0; }
  /* line 134, sass/application.sass */
  .blog a {
    color: #0E66AE;
    text-decoration: none;
    display: block; }
    /* line 139, sass/application.sass */
    .blog a:hover {
      text-decoration: underline; }
  /* line 141, sass/application.sass */
  .blog .calendar {
    float: right;
    background-image: url(/images/icon-calendar.jpg);
    height: 43px;
    width: 48px;
    background-repeat: no-repeat;
    color: #222; }
    /* line 148, sass/application.sass */
    .blog .calendar .day, .blog .calendar .month {
      display: block;
      text-align: center;
      font-weight: bold; }
    /* line 152, sass/application.sass */
    .blog .calendar .day {
      margin-top: 18px;
      margin-bottom: 0px;
      line-height: 12px;
      font-size: 14px; }
    /* line 157, sass/application.sass */
    .blog .calendar .month {
      font-size: 10px;
      line-height: 8px; }
  /* line 162, sass/application.sass */
  .blog .post {
    clear: both; }
    /* line 164, sass/application.sass */
    .blog .post .actions {
      background-color: #8A8782;
      color: #FFF;
      line-height: 29px;
      padding-left: 10px;
      margin-top: 12px;
      font-size: 14px;
      font-weight: bold;
      -webkit-border-bottom-right-radius: 12px;
      -moz-border-radius-bottomright: 12px;
      -webkit-border-top-right-radius: 12px;
      -moz-border-radius-topright: 12px; }
      /* line 170, sass/application.sass */
      .blog .post .actions a {
        display: inline;
        color: #FFF; }
    /* line 181, sass/application.sass */
    .blog .post h3 {
      font-size: 16px;
      margin: 0; }
    /* line 184, sass/application.sass */
    .blog .post p.author {
      margin: 0;
      font-size: 12px;
      color: #54616E; }
    /* line 188, sass/application.sass */
    .blog .post img {
      margin: 6px 0; }

/* line 192, sass/application.sass */
body.home .blog .post img {
  display: block;
  margin: 6px auto;
  margin-top: 20px; }

/* line 197, sass/application.sass */
.twitter {
  height: 200px;
  float: right; }
  /* line 26, sass/_modules.sass */
  .twitter ul, .twitter li, .twitter ol {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  /* line 201, sass/application.sass */
  .twitter ul {
    clear: both; }
    /* line 203, sass/application.sass */
    .twitter ul li {
      margin-bottom: 8px; }
    /* line 205, sass/application.sass */
    .twitter ul small {
      display: block;
      color: #4ACAF7; }

/* line 210, sass/application.sass */
body.home .content {
  background-color: #FFF;
  border-top: 1px solid #BABABA;
  float: left;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 1px; }
  /* line 217, sass/application.sass */
  body.home .content h1 {
    background-color: #F3F3F3;
    margin-top: 6px;
    padding: 17px 24px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    color: #0E66AE;
    margin-bottom: 13px;
    line-height: 22px; }
  /* line 228, sass/application.sass */
  body.home .content p {
    font-size: 13px;
    line-height: 17px;
    margin-left: 24px;
    color: #30393E; }
  /* line 233, sass/application.sass */
  body.home .content .contact {
    margin-left: 48px; }

/* line 235, sass/application.sass */
.contact {
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  margin-bottom: 7px; }
  /* line 240, sass/application.sass */
  .contact a {
    color: #FFF;
    background-color: #A3101A;
    padding: 8px 60px 8px 16px;
    margin-left: 10px;
    text-decoration: none;
    background-image: url(/images/arrow-contact-button.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px; }

/* line 252, sass/application.sass */
body.home .services {
  position: relative;
  float: left;
  display: inline;
  width: 308px;
  background-color: #EFEFEF;
  margin-left: 12px;
  float: left;
  border: 1px solid #D3D3D3;
  margin-top: 20px;
  height: 373px; }
  /* line 263, sass/application.sass */
  body.home .services p {
    font-size: 12px;
    line-height: 14px; }
  /* line 266, sass/application.sass */
  body.home .services h2 {
    background-image: url(/images/services.png);
    height: 40px;
    width: 92px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    margin: 12px 12px 0px 8px; }
  /* line 274, sass/application.sass */
  body.home .services .service {
    background-position: 4px 0px;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dashed #D3D3D3; }
    /* line 279, sass/application.sass */
    body.home .services .service h2, body.home .services .service p {
      margin-left: 95px; }
    /* line 284, sass/application.sass */
    body.home .services .service img {
      float: left;
      margin-left: 10px; }
    /* line 287, sass/application.sass */
    body.home .services .service h3 {
      margin: 0;
      color: #0E66AE;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 14px; }
    /* line 294, sass/application.sass */
    body.home .services .service p {
      margin: 0;
      margin-right: 10px; }
    /* line 297, sass/application.sass */
    body.home .services .service.last {
      border-bottom: none;
      margin-bottom: 0; }
  /* line 300, sass/application.sass */
  body.home .services a {
    color: #0E66AE;
    font-size: 13px;
    display: block;
    text-align: right;
    margin: 10px;
    margin-top: 0;
    position: absolute;
    bottom: 0px;
    right: 0px; }
/* line 312, sass/application.sass */
body.home .case_study {
  position: relative;
  float: left;
  width: 320px;
  background-color: #EFEFEF;
  margin-left: 10px;
  float: left;
  border: 1px solid #D3D3D3;
  margin-top: 20px;
  margin-right: 0;
  height: 373px; }
  /* line 314, sass/application.sass */
  body.home .case_study p {
    font-size: 12px;
    line-height: 14px; }
  /* line 326, sass/application.sass */
  body.home .case_study h2 {
    background-image: url(/images/case-study.png);
    height: 43px;
    width: 133px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    margin: 12px 12px 0px 8px; }
  /* line 334, sass/application.sass */
  body.home .case_study h3 {
    margin: 0;
    color: #0E66AE;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px; }
  /* line 340, sass/application.sass */
  body.home .case_study img {
    display: block;
    margin: 5px auto; }
  /* line 343, sass/application.sass */
  body.home .case_study h3, body.home .case_study p {
    margin-left: 10px; }
  /* line 345, sass/application.sass */
  body.home .case_study p {
    margin-bottom: 0px; }
  /* line 347, sass/application.sass */
  body.home .case_study a {
    color: #0E66AE;
    font-size: 13px;
    display: block;
    text-align: right;
    margin: 10px;
    margin-top: 0;
    position: absolute;
    bottom: 0px;
    right: 0px; }

/* line 357, sass/application.sass */
.twitter {
  width: 314px;
  background-color: #EFEFEF;
  margin: 10px;
  padding: 12px;
  padding-right: 0px;
  float: right;
  border: 1px solid #D3D3D3;
  margin-top: 0;
  height: 173px;
  margin-bottom: 0px; }
  /* line 368, sass/application.sass */
  .twitter h2 {
    margin: 0;
    float: left;
    background-image: url(/images/twitter.png);
    height: 42px;
    width: 87px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    margin-bottom: 12px; }
  /* line 378, sass/application.sass */
  .twitter .follow {
    float: right;
    background-color: #363227;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    padding-left: 30px;
    background-image: url('/images/twitter-small.png');
    background-repeat: no-repeat;
    background-position: 4px 50%; }
  /* line 390, sass/application.sass */
  .twitter .tweet {
    clear: both;
    margin-bottom: 10px; }
  /* line 393, sass/application.sass */
  .twitter p {
    margin: 0px; }
    /* line 395, sass/application.sass */
    .twitter p.info {
      font-size: 11px;
      color: #4ACAF7; }

/* line 399, sass/application.sass */
body.home .projects {
  position: relative;
  background-color: #FFF;
  padding-top: 1px;
  padding-bottom: 1px; }
  /* line 404, sass/application.sass */
  body.home .projects .main {
    position: absolute;
    left: 17px;
    top: 21px;
    z-index: 10;
    clear: both; }
    /* line 410, sass/application.sass */
    body.home .projects .main .main {
      position: static; }
  /* line 413, sass/application.sass */
  body.home .projects ul {
    background-color: #CCC;
    border: 1px solid #D9D9D9;
    border-bottom: none;
    padding-bottom: 1px;
    margin: 10px;
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url(/images/gradient-main-image.jpg);
    background-repeat: repeat-x;
    background-bottom: none;
    zoom: 1; }
    /* line 426, sass/application.sass */
    body.home .projects ul li {
      height: 87px;
      overflow: hidden;
      margin: 10px 5px 0px auto;
      width: 323px; }
      /* line 431, sass/application.sass */
      body.home .projects ul li .panel {
        z-index: 20;
        width: 291px;
        overflow: hidden;
        position: relative;
        background-image: url(/images/grey-main.png);
        background-repeat: no-repeat;
        background-position: top right;
        padding: 7px;
        padding-left: 24px;
        color: #0960AD; }
      /* line 442, sass/application.sass */
      body.home .projects ul li .main {
        display: none; }
      /* line 445, sass/application.sass */
      body.home .projects ul li.selected .panel {
        background-image: url(/images/blue-main.png);
        color: #FFF; }
      /* line 448, sass/application.sass */
      body.home .projects ul li.selected .main {
        display: block; }
      /* line 450, sass/application.sass */
      body.home .projects ul li.selected a {
        color: #FFF; }
      /* line 452, sass/application.sass */
      body.home .projects ul li img {
        float: left;
        margin-right: 6px; }
    /* line 455, sass/application.sass */
    body.home .projects ul h3 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 0px; }
    /* line 460, sass/application.sass */
    body.home .projects ul a {
      color: #0e66ae; }

/* line 463, sass/application.sass */
.footer {
  float: left;
  width: 100%; }
  /* line 466, sass/application.sass */
  .footer .subscribe {
    margin-top: 10px;
    margin-bottom: 50px;
    float: left; }
    /* line 470, sass/application.sass */
    .footer .subscribe h2 {
      text-indent: -9999px;
      background-image: url(/images/subscribe.png);
      height: 36px;
      width: 196px;
      margin: 0; }
    /* line 476, sass/application.sass */
    .footer .subscribe input[type='email'] {
      border: 1px solid #A5C0DB;
      line-height: 16px;
      padding: 4px; }
    /* line 480, sass/application.sass */
    .footer .subscribe input[type='submit'] {
      color: #FFF;
      background-color: #A3101A;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border: none;
      padding: 4px 6px;
      font-size: 12px; }
  /* line 488, sass/application.sass */
  .footer .external, .footer p {
    text-align: right;
    font-size: 12px;
    color: #30393E; }

/* line 492, sass/application.sass */
body.home .addthis_toolbox {
  float: left; }

/* line 494, sass/application.sass */
body.home .actions {
  float: left;
  line-height: 16px;
  padding-right: 20px; }
  /* line 498, sass/application.sass */
  body.home .actions span {
    margin-top: 6px;
    margin-left: 10px; }
  /* line 501, sass/application.sass */
  body.home .actions a {
    float: left; }

/* line 504, sass/application.sass */
body.home .at300bs.at15t_compact {
  background-image: none;
  padding-left: 10px; }
/* line 507, sass/application.sass */
body.home .copy {
  height: 250px; }

/* line 1, sass/_websites.sass */
.banner {
  background-color: #FFF;
  padding: 1px; }
  /* line 4, sass/_websites.sass */
  .banner img {
    margin: 10px auto 0px auto;
    width: 980px;
    display: block; }

/* line 8, sass/_websites.sass */
.breadcrumbs {
  background-color: #FFF;
  padding: 1px; }
  /* line 11, sass/_websites.sass */
  .breadcrumbs ul {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url(/images/bg-breadcrumbs.jpg);
    border: 1px solid #D5D5D3;
    width: 960px;
    margin: 0px auto 10px auto;
    padding: 0;
    list-style-type: none;
    height: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 20px; }
    /* line 25, sass/_websites.sass */
    .breadcrumbs ul li {
      float: left;
      height: 30px;
      line-height: 30px;
      margin-right: 10px; }
      /* line 30, sass/_websites.sass */
      .breadcrumbs ul li a {
        display: block;
        height: 30px;
        text-decoration: none;
        color: #0E66AE;
        padding-right: 20px;
        background-image: url(/images/arrow-breadcrumbs.jpg);
        background-repeat: no-repeat;
        background-position: center right; }
        /* line 39, sass/_websites.sass */
        .breadcrumbs ul li a:hover {
          text-decoration: underline; }

/* line 41, sass/_websites.sass */
div.main {
  background-color: #FFF;
  width: 100%;
  float: left;
  padding-top: 1px; }

/* line 47, sass/_websites.sass */
body.websites .content, div.websites, body.banners .content {
  margin-left: 235px; }
  /* line 49, sass/_websites.sass */
  body.websites .content h1, div.websites h1, body.banners .content h1 {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    color: #0E66AE; }
  /* line 56, sass/_websites.sass */
  body.websites .content .website, div.websites .website, body.banners .content .website {
    width: 361px;
    margin-right: 10px;
    height: 289px;
    margin-bottom: 10px;
    padding: 5px;
    float: left; }
    /* line 63, sass/_websites.sass */
    body.websites .content .website h2, div.websites .website h2, body.banners .content .website h2 {
      padding: 4px;
      font-size: 14px;
      font-weight: normal;
      background-color: #EFEFED;
      -moz-box-shadow: 3px 3px 3px #CCC;
      -webkit-box-shadow: 3px 3px 3px #CCC; }
      /* line 70, sass/_websites.sass */
      body.websites .content .website h2 img, div.websites .website h2 img, body.banners .content .website h2 img {
        margin-bottom: 4px; }
      /* line 72, sass/_websites.sass */
      body.websites .content .website h2 a, div.websites .website h2 a, body.banners .content .website h2 a {
        text-decoration: none;
        color: #0E66AE;
        text-transform: uppercase;
        display: block;
        background-image: url(/images/arrow-blue.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        margin-right: 6px; }
        /* line 81, sass/_websites.sass */
        body.websites .content .website h2 a:hover, div.websites .website h2 a:hover, body.banners .content .website h2 a:hover {
          text-decoration: none; }
    /* line 83, sass/_websites.sass */
    body.websites .content .website p, div.websites .website p, body.banners .content .website p {
      font-size: 12px; }

/* line 1, sass/_contact_us.sass */
.breadcrumbs {
  margin-top: 10px; }

/* line 3, sass/_contact_us.sass */
.contact_us {
  margin-left: 235px;
  margin-right: 350px; }
  /* line 6, sass/_contact_us.sass */
  .contact_us h1 {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    color: #0E66AE; }
  /* line 13, sass/_contact_us.sass */
  .contact_us p {
    font-size: 12px; }
  /* line 16, sass/_contact_us.sass */
  .contact_us form input[type='email'], .contact_us form input[type='text'], .contact_us form textarea {
    border: 1px solid #A5C0DB;
    line-height: 16px;
    padding: 4px; }
  /* line 20, sass/_contact_us.sass */
  .contact_us form textarea {
    width: 80%; }
  /* line 22, sass/_contact_us.sass */
  .contact_us form input[type='submit'] {
    color: #FFF;
    background-color: #A3101A;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: none;
    padding: 4px 6px;
    font-size: 12px; }
  /* line 30, sass/_contact_us.sass */
  .contact_us label {
    text-transform: uppercase;
    color: #333;
    display: block;
    font-size: 14px;
    margin-top: 10px; }

/* line 36, sass/_contact_us.sass */
.contact_details {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 330px;
  background-color: #F2F2F2;
  border: 1px solid #D5D5D3; }
  /* line 43, sass/_contact_us.sass */
  .contact_details h2 {
    margin: 10px;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(/images/contact.png);
    height: 43px;
    width: 183px; }
  /* line 50, sass/_contact_us.sass */
  .contact_details p {
    font-size: 12px;
    margin: 10px; }
    /* line 53, sass/_contact_us.sass */
    .contact_details p strong {
      color: #B30002;
      font-size: 14px; }
  /* line 56, sass/_contact_us.sass */
  .contact_details ul {
    border-top: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    font-size: 24px;
    color: #333;
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 0;
    line-height: 40px; }
    /* line 66, sass/_contact_us.sass */
    .contact_details ul a {
      color: #333;
      text-decoration: none; }
      /* line 69, sass/_contact_us.sass */
      .contact_details ul a:hover {
        text-decoration: underline; }
    /* line 72, sass/_contact_us.sass */
    .contact_details ul li {
      height: 50px;
      margin-left: 20px; }
      /* line 76, sass/_contact_us.sass */
      .contact_details ul li span {
        width: 35px;
        height: 48px;
        display: block;
        float: left;
        margin-right: 20px;
        background-repeat: no-repeat;
        text-indent: -9999px; }
      /* line 84, sass/_contact_us.sass */
      .contact_details ul li.phone span {
        background-image: url(/images/phone-icon.jpg); }
      /* line 86, sass/_contact_us.sass */
      .contact_details ul li.email span {
        background-image: url(/images/email-icon.jpg); }
  /* line 88, sass/_contact_us.sass */
  .contact_details .map {
    width: 290px;
    margin: 10px auto; }
  /* line 91, sass/_contact_us.sass */
  .contact_details .address {
    margin: 10px;
    font-size: 12px; }
    /* line 93, sass/_contact_us.sass */
    .contact_details .address h4 {
      margin: 0;
      font-size: 14px; }

/* line 97, sass/_contact_us.sass */
.errorExplanation {
  color: #8A1F11;
  background-color: #FBE3E4;
  border: 1px solid #FBC2C4;
  margin: 0;
  padding: 1em; }
  /* line 103, sass/_contact_us.sass */
  .errorExplanation ul {
    margin: 0;
    list-style-type: none; }

/* line 107, sass/_contact_us.sass */
.errorExplanation h2 {
  font-size: 14px; }
/* line 110, sass/_contact_us.sass */
.errorExplanation ul li {
  list-style-type: square;
  list-style-image: none; }

/* line 1, sass/_company.sass */
body.company .content, body.clients .content, body.why_choose_us .content, body.projects .content, body.subscribe .content {
  margin-left: 235px;
  margin-right: 350px; }
  /* line 4, sass/_company.sass */
  body.company .content h1, body.clients .content h1, body.why_choose_us .content h1, body.projects .content h1, body.subscribe .content h1 {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    color: #0E66AE; }
  /* line 11, sass/_company.sass */
  body.company .content p, body.clients .content p, body.why_choose_us .content p, body.projects .content p, body.subscribe .content p {
    font-size: 12px; }
    /* line 13, sass/_company.sass */
    body.company .content p a, body.clients .content p a, body.why_choose_us .content p a, body.projects .content p a, body.subscribe .content p a {
      font-weight: bold;
      text-decoration: none;
      color: rgb(14, 102, 174); }
      /* line 17, sass/_company.sass */
      body.company .content p a:hover, body.clients .content p a:hover, body.why_choose_us .content p a:hover, body.projects .content p a:hover, body.subscribe .content p a:hover {
        text-decoration: underline; }
  /* line 19, sass/_company.sass */
  body.company .content .contact, body.clients .content .contact, body.why_choose_us .content .contact, body.projects .content .contact, body.subscribe .content .contact {
    margin-bottom: 100px;
    margin-left: 0;
    margin-top: 20px; }
    /* line 23, sass/_company.sass */
    body.company .content .contact a, body.clients .content .contact a, body.why_choose_us .content .contact a, body.projects .content .contact a, body.subscribe .content .contact a {
      margin-left: 0; }

/* line 25, sass/_company.sass */
body.company .testimonials, body.clients .testimonials, body.why_choose_us .testimonials {
  float: right;
  width: 285px;
  background-color: #FAFAFA;
  border: 1px solid #D5D5D3;
  display: inline;
  margin-right: 10px;
  padding: 10px;
  padding-bottom: 10px; }
  /* line 34, sass/_company.sass */
  body.company .testimonials h2, body.clients .testimonials h2, body.why_choose_us .testimonials h2 {
    color: #CA1A27;
    margin-top: 0;
    font-weight: normal;
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 20px; }
  /* line 42, sass/_company.sass */
  body.company .testimonials p, body.clients .testimonials p, body.why_choose_us .testimonials p {
    font-size: 12px;
    margin-bottom: 0px; }
    /* line 45, sass/_company.sass */
    body.company .testimonials p.author, body.clients .testimonials p.author, body.why_choose_us .testimonials p.author {
      color: #F3A144;
      margin-top: 0; }

/* line 49, sass/_company.sass */
body.company h2, body.why_choose_us h2 {
  font-size: 14px;
  font-weight: bold; }
/* line 52, sass/_company.sass */
body.company .banner, body.why_choose_us .banner {
  margin: 10px auto;
  background-repeat: no-repeat;
  height: 193px;
  width: 981px;
  background-image: url(/images/view-services.jpg); }
  /* line 46, sass/_modules.sass */
  body.company .banner a, body.why_choose_us .banner a {
    display: block;
    height: 100%;
    width: 100%; }
    /* line 50, sass/_modules.sass */
    body.company .banner a h1, body.company .banner a h2, body.company .banner a p, body.why_choose_us .banner a h1, body.why_choose_us .banner a h2, body.why_choose_us .banner a p {
      text-indent: -9999em;
      overflow: hidden; }

/* line 58, sass/_company.sass */
body.why_choose_us .content li {
  margin-bottom: 0.5em; }

/* line 2, sass/_case_study.sass */
.case_study_main {
  margin-left: 235px;
  font-size: 12px; }
  /* line 5, sass/_case_study.sass */
  .case_study_main h1 {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    color: #0E66AE; }
  /* line 12, sass/_case_study.sass */
  .case_study_main h2 {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    color: #0E66AE; }
  /* line 19, sass/_case_study.sass */
  .case_study_main .images {
    float: right;
    margin: 10px; }
    /* line 22, sass/_case_study.sass */
    .case_study_main .images p {
      text-transform: uppercase;
      overflow: visible;
      height: 0px;
      margin: 0;
      top: 330px;
      left: 20px;
      font-size: 14px;
      position: relative; }

/* line 32, sass/_case_study.sass */
body.case_studies .banner {
  background-image: url(/images/read-blog.jpg);
  width: 980px;
  height: 192px;
  margin: 10px auto;
  background-repeat: no-repeat; }
  /* line 33, sass/_case_study.sass */
  body.case_studies .banner a {
    display: block;
    height: 100%;
    width: 100%; }
    /* line 37, sass/_case_study.sass */
    body.case_studies .banner a h1, body.case_studies .banner a h2, body.case_studies .banner a p {
      text-indent: -9999em;
      overflow: hidden; }

/* line 1, sass/_blogs.sass */
.sidebar-right {
  float: right;
  width: 315px;
  margin-top: 0; }
  /* line 5, sass/_blogs.sass */
  .sidebar-right .twitter {
    width: auto; }
  /* line 7, sass/_blogs.sass */
  .sidebar-right .links {
    background-color: #EFEFEF;
    margin: 10px;
    padding: 12px;
    border: 1px solid #D3D3D3;
    padding: 0;
    margin-top: 0; }
    /* line 26, sass/_modules.sass */
    .sidebar-right .links ul, .sidebar-right .links li, .sidebar-right .links ol {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    /* line 12, sass/_blogs.sass */
    .sidebar-right .links ul, .sidebar-right .links .categories {
      padding: 12px; }
    /* line 14, sass/_blogs.sass */
    .sidebar-right .links h2 {
      background-image: url('/images/posts.png');
      background-repeat: no-repeat;
      background-position: top left;
      text-indent: -9999em;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 70px;
      height: 46px; }
    /* line 19, sass/_blogs.sass */
    .sidebar-right .links li a {
      color: #333;
      font-weight: bold;
      font-size: 16px; }
    /* line 23, sass/_blogs.sass */
    .sidebar-right .links li.twitter_link a {
      background-image: url(/images/twitter-icon.png); }
    /* line 25, sass/_blogs.sass */
    .sidebar-right .links li.rss a {
      background-image: url(/images/rss.png); }
    /* line 27, sass/_blogs.sass */
    .sidebar-right .links li.linked_in a {
      background-image: url(/images/linkedin.png); }
    /* line 29, sass/_blogs.sass */
    .sidebar-right .links li.twitter_link, .sidebar-right .links li.rss, .sidebar-right .links li.linked_in {
      margin-top: 10px; }
      /* line 31, sass/_blogs.sass */
      .sidebar-right .links li.twitter_link a, .sidebar-right .links li.rss a, .sidebar-right .links li.linked_in a {
        display: block;
        padding-left: 50px;
        line-height: 35px;
        background-position: top left;
        background-repeat: no-repeat; }
    /* line 37, sass/_blogs.sass */
    .sidebar-right .links .categories {
      border-top: 1px dashed #CCC; }
      /* line 26, sass/_modules.sass */
      .sidebar-right .links .categories ul, .sidebar-right .links .categories li, .sidebar-right .links .categories ol {
        margin: 0;
        padding: 0;
        list-style-type: none; }
      /* line 40, sass/_blogs.sass */
      .sidebar-right .links .categories li {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid #cccccc; }
        /* line 21, sass/_modules.sass */
        .sidebar-right .links .categories li:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0; }
        /* line 42, sass/_blogs.sass */
        .sidebar-right .links .categories li a {
          background-image: url('/images/arrow-lhs-menu.jpg');
          background-position: center right;
          background-repeat: no-repeat;
          display: block;
          width: 155px; }
  /* line 45, sass/_blogs.sass */
  .sidebar-right .comments {
    background-color: #EFEFEF;
    margin: 10px;
    padding: 12px;
    border: 1px solid #D3D3D3;
    padding-bottom: 100px;
    background-image: url(/images/WI-icon.png);
    background-position: bottom right;
    background-repeat: no-repeat; }
    /* line 51, sass/_blogs.sass */
    .sidebar-right .comments h2 {
      background-image: url('/images/recent-comments.png');
      background-repeat: no-repeat;
      background-position: top left;
      text-indent: -9999em;
      overflow: hidden;
      margin: 0;
      padding: 0;
      height: 44px;
      width: 217px; }
    /* line 55, sass/_blogs.sass */
    .sidebar-right .comments .comment {
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid #cccccc; }
      /* line 21, sass/_modules.sass */
      .sidebar-right .comments .comment:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0; }
      /* line 57, sass/_blogs.sass */
      .sidebar-right .comments .comment .author {
        color: #0e66ae; }
        /* line 59, sass/_blogs.sass */
        .sidebar-right .comments .comment .author:after {
          content: ":"; }
  /* line 61, sass/_blogs.sass */
  .sidebar-right .twitter {
    float: none;
    height: auto; }

/* line 64, sass/_blogs.sass */
.main .post {
  margin-left: 15px; }
  /* line 66, sass/_blogs.sass */
  .main .post .post_content {
    margin-left: 60px;
    width: 570px; }
    /* line 69, sass/_blogs.sass */
    .main .post .post_content p {
      margin-left: 0px;
      margin-top: 0px; }
    /* line 72, sass/_blogs.sass */
    .main .post .post_content h2 {
      margin-bottom: 0px;
      color: #333; }
  /* line 75, sass/_blogs.sass */
  .main .post .tweets {
    float: left;
    width: 50px;
    background-image: url(/images/retweet-bg.jpg);
    height: 50px;
    background-repeat: no-repeat;
    background-position: top left;
    text-align: center;
    line-height: 10px;
    font-size: 10px;
    margin-bottom: 20px; }
    /* line 86, sass/_blogs.sass */
    .main .post .tweets .count {
      font-size: 20px;
      display: block;
      margin-top: 5px;
      line-height: 20px; }
    /* line 91, sass/_blogs.sass */
    .main .post .tweets a {
      background-image: url('/images/retweet-button.jpg');
      background-repeat: no-repeat;
      background-position: top left;
      text-indent: -9999em;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 50px;
      height: 17px;
      margin-top: 10px;
      display: block; }

/* line 97, sass/_blogs.sass */
.tagged {
  background-color: #EFEFED;
  width: 620px;
  margin: 20px 30px;
  padding: 4px;
  clear: left; }
  /* line 103, sass/_blogs.sass */
  .tagged a {
    color: #0e66ae; }


/* line 107, sass/_blogs.sass */
div.post h1 {
  color: #0e66ae;
  font-size: 20px; }

/* line 110, sass/_blogs.sass */
div.posts {
  margin-right: 300px; }
  /* line 112, sass/_blogs.sass */
  div.posts .post {
    margin-left: 15px;
    height: 370px;
    float: left;
    margin-bottom: 15px;
    width: 320px; }
    /* line 118, sass/_blogs.sass */
    div.posts .post h2, div.posts .post p.information {
      margin: 0; }
    /* line 120, sass/_blogs.sass */
    div.posts .post h2 {
      color: #0e66ae; }
    /* line 122, sass/_blogs.sass */
    div.posts .post p.information {
      margin-bottom: 10px; }
      /* line 124, sass/_blogs.sass */
      div.posts .post p.information a {
        background-image: url('/images/retweet-button.jpg');
        background-repeat: no-repeat;
        background-position: top left;
        text-indent: -9999em;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 50px;
        height: 17px;
        margin-top: 10px;
        display: block; }
    /* line 130, sass/_blogs.sass */
    div.posts .post p, div.posts .post .links {
      margin-left: 60px;
      width: 230px; }
    /* line 133, sass/_blogs.sass */
    div.posts .post .links {
      color: #0e66ae;
      line-height: 16px; }
      /* line 136, sass/_blogs.sass */
      div.posts .post .links span {
        background-color: #EFEFED;
        display: block;
        float: left; }
      /* line 140, sass/_blogs.sass */
      div.posts .post .links a {
        background-color: #EFEFED;
        color: #0e66ae;
        display: block;
        float: left;
        padding: 5px; }
      /* line 146, sass/_blogs.sass */
      div.posts .post .links .continue_reading {
        background-color: #C31725;
        color: #FFF;
        display: block;
        padding: 5px;
        text-transform: uppercase;
        float: left; }
    /* line 153, sass/_blogs.sass */
    div.posts .post img {
      width: 295px;
      padding: 10px;
      background-color: #EBEBE9;
      border: 1px solid #DDD;
      margin-bottom: 15px; }
    /* line 159, sass/_blogs.sass */
    div.posts .post:first-child {
      width: auto; }
      /* line 161, sass/_blogs.sass */
      div.posts .post:first-child p, div.posts .post:first-child .links {
        width: 570px; }
      /* line 163, sass/_blogs.sass */
      div.posts .post:first-child img {
        width: auto; }

/* line 165, sass/_blogs.sass */
span.weak {
  color: #888; }

/* line 167, sass/_blogs.sass */
.new_post, .edit_post {
  margin: 1em; }

/* line 1, sass/_enlargement.sass */
.enlargement {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(/images/black-bg.png); }
  /* line 9, sass/_enlargement.sass */
  .enlargement h2 {
    color: #FFF;
    text-transform: uppercase;
    margin: 50px auto 10px auto;
    width: 800px; }
  /* line 15, sass/_enlargement.sass */
  .enlargement div {
    width: 800px;
    margin: 0px auto 30px auto;
    background-color: #FFF;
    padding-bottom: 30px;
    padding-top: 20px;
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px; }
    /* line 25, sass/_enlargement.sass */
    .enlargement div img {
      display: block;
      margin: 0px auto; }
  /* line 28, sass/_enlargement.sass */
  .enlargement .close {
    background-image: url(/images/close-button.jpg);
    color: #FFF;
    text-transform: uppercase;
    float: right;
    margin-right: 5px;
    width: 75px;
    height: 22px;
    font-weight: bold;
    text-indent: 6px;
    line-height: 22px; }

/* line 1, sass/_services.sass */
body.services .content {
  margin-left: 230px; }
  /* line 3, sass/_services.sass */
  body.services .content h1 {
    color: #0e66ae;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px; }
  /* line 10, sass/_services.sass */
  body.services .content h2 {
    color: #BA1827;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px; }
  /* line 18, sass/_services.sass */
  body.services .content p {
    margin-bottom: 0; }
  /* line 20, sass/_services.sass */
  body.services .content .service {
    float: left;
    background-color: white;
    width: 355px;
    height: 160px;
    padding: 1px; }
    /* line 26, sass/_services.sass */
    body.services .content .service h3 {
      color: #0e66ae;
      text-transform: uppercase;
      font-weight: normal; }
    /* line 30, sass/_services.sass */
    body.services .content .service img {
      float: left;
      width: 110px; }
    /* line 33, sass/_services.sass */
    body.services .content .service h3, body.services .content .service p {
      margin-left: 120px;
      margin-right: 10px;
      margin-bottom: 0px;
      margin-top: 0px; }

/* line 39, sass/_services.sass */
body.services .banner {
  margin: 10px auto;
  background-repeat: no-repeat;
  background-image: url(/images/view-projects.jpg);
  height: 193px;
  width: 981px; }
  /* line 46, sass/_modules.sass */
  body.services .banner a {
    display: block;
    height: 100%;
    width: 100%; }
    /* line 50, sass/_modules.sass */
    body.services .banner a h1, body.services .banner a h2, body.services .banner a p {
      text-indent: -9999em;
      overflow: hidden; }

/* line 2, sass/_page.sass */
body.pages .company, body.pages .clients, body.pages .content {
  margin-left: 235px;
  margin-right: 350px; }
  /* line 5, sass/_page.sass */
  body.pages .company h1, body.pages .clients h1, body.pages .content h1 {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    color: #0E66AE; }
  /* line 12, sass/_page.sass */
  body.pages .company p, body.pages .clients p, body.pages .content p {
    font-size: 12px; }
    /* line 14, sass/_page.sass */
    body.pages .company p a, body.pages .clients p a, body.pages .content p a {
      font-weight: bold;
      text-decoration: none;
      color: rgb(14, 102, 174); }
      /* line 18, sass/_page.sass */
      body.pages .company p a:hover, body.pages .clients p a:hover, body.pages .content p a:hover {
        text-decoration: underline; }
  /* line 20, sass/_page.sass */
  body.pages .company .contact, body.pages .clients .contact, body.pages .content .contact {
    margin-bottom: 100px;
    margin-left: 0;
    margin-top: 20px; }
    /* line 24, sass/_page.sass */
    body.pages .company .contact a, body.pages .clients .contact a, body.pages .content .contact a {
      margin-left: 0; }
/* line 26, sass/_page.sass */
body.pages .company_testimonials {
  float: right;
  width: 285px;
  background-color: #F2F2F2;
  border: 1px solid #D5D5D3;
  display: inline;
  margin-right: 10px;
  padding: 10px;
  padding-bottom: 10px; }
  /* line 35, sass/_page.sass */
  body.pages .company_testimonials h2 {
    color: #CA1A27;
    margin-top: 0;
    font-weight: normal;
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 20px; }
  /* line 42, sass/_page.sass */
  body.pages .company_testimonials img {
    float: left; }
  /* line 44, sass/_page.sass */
  body.pages .company_testimonials p {
    margin-left: 60px;
    font-size: 12px;
    margin-bottom: 0px; }
    /* line 48, sass/_page.sass */
    body.pages .company_testimonials p.author {
      color: #F3A144;
      margin-top: 0; }

/* line 6, sass/_sample.sass */
.sample_page {
  width: 728px;
  height: 1000px;
  margin-left: 10px;
  margin-top: 10px;
  color: #c5c5c5; }
  /* line 7, sass/_sample.sass */
  .sample_page a {
    color: #83a1a9;
    font-weight: bold; }
  /* line 15, sass/_sample.sass */
  .sample_page h3 {
    font-size: 120%; }
  /* line 17, sass/_sample.sass */
  .sample_page h4 {
    font-size: 120%; }
  /* line 20, sass/_sample.sass */
  .sample_page .feature h3 {
    font-size: 100%;
    height: 15px; }
  /* line 23, sass/_sample.sass */
  .sample_page .feature p {
    margin: 0;
    padding: 20px 0; }
  /* line 26, sass/_sample.sass */
  .sample_page #banner728x90 {
    height: 90px;
    width: 728px;
    background-color: #c5c5c5; }
  /* line 30, sass/_sample.sass */
  .sample_page .left {
    width: 398px; }
    /* line 32, sass/_sample.sass */
    .sample_page .left .feature {
      width: 179px;
      margin: 10px;
      float: left; }
    /* line 36, sass/_sample.sass */
    .sample_page .left h3 {
      color: #83a1a9; }
  /* line 39, sass/_sample.sass */
  .sample_page .right h3 {
    background-color: #c5c5c5;
    height: 20px;
    width: 60px; }
  /* line 43, sass/_sample.sass */
  .sample_page .right h4 {
    color: #83a1a9; }
  /* line 45, sass/_sample.sass */
  .sample_page .left, .sample_page .right {
    border: none;
    background-image: none;
    margin-top: 0.5em;
    float: left; }
    /* line 50, sass/_sample.sass */
    .sample_page .left ul, .sample_page .right ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      /* line 54, sass/_sample.sass */
      .sample_page .left ul li, .sample_page .right ul li {
        position: relative;
        list-style-type: none;
        list-style-image: none;
        border-bottom: 1px dashed #c5c5c5;
        padding-left: 60px;
        padding-top: 5px;
        padding-bottom: 15px; }
      /* line 62, sass/_sample.sass */
      .sample_page .left ul .picture, .sample_page .right ul .picture {
        background-color: #c5c5c5;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5px;
        left: 5px; }
      /* line 69, sass/_sample.sass */
      .sample_page .left ul h3, .sample_page .left ul p, .sample_page .left ul h4, .sample_page .right ul h3, .sample_page .right ul p, .sample_page .right ul h4 {
        margin: 0;
        padding: 0; }
  /* line 73, sass/_sample.sass */
  .sample_page .feature .picture {
    background-color: #c5c5c5;
    width: 100%;
    height: 200px; }
  /* line 78, sass/_sample.sass */
  .sample_page .right {
    width: 300px; }
  /* line 80, sass/_sample.sass */
  .sample_page #banner300x250 {
    height: 250px;
    width: 300px;
    background-color: #c5c5c5; }

/* line 5, sass/_banners.sass */
body.banners .content .banner {
  height: 375px;
  margin-bottom: 10px;
  width: auto; }
  /* line 6, sass/_banners.sass */
  body.banners .content .banner img {
    width: 300px;
    height: 250px; }
/* line 38, sass/_modules.sass */
body.banners .content {
  margin-left: 235px; }
/* line 40, sass/_modules.sass */
body.banners .sidebar {
  float: left; }
/* line 13, sass/_banners.sass */
body.banners .content .banner {
  margin-right: 15px;
  float: left;
  background-image: none; }
  /* line 15, sass/_banners.sass */
  body.banners .content .banner ul {
    padding-left: 10px; }
    /* line 26, sass/_modules.sass */
    body.banners .content .banner ul ul, body.banners .content .banner ul li, body.banners .content .banner ul ol {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    /* line 18, sass/_banners.sass */
    body.banners .content .banner ul li {
      margin-bottom: 3px; }
    /* line 20, sass/_banners.sass */
    body.banners .content .banner ul a {
      padding-left: 20px;
      background-position: top left; }
  /* line 26, sass/_banners.sass */
  body.banners .content .banner h2 {
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    background-color: #EFEFED;
    -moz-box-shadow: 3px 3px 3px #CCC;
    -webkit-box-shadow: 3px 3px 3px #CCC; }
    /* line 29, sass/_banners.sass */
    body.banners .content .banner h2 img {
      margin-bottom: 6px;
      margin-top: 0; }
  /* line 38, sass/_banners.sass */
  body.banners .content .banner a {
    text-decoration: none;
    color: #0E66AE;
    text-transform: uppercase;
    display: block;
    background-image: url(/images/arrow-blue.png);
    background-repeat: no-repeat;
    background-position: center right;
    margin-right: 6px; }
    /* line 47, sass/_banners.sass */
    body.banners .content .banner a:hover {
      text-decoration: underline; }
  /* line 49, sass/_banners.sass */
  body.banners .content .banner p {
    font-size: 12px; }

/* line 51, sass/_banners.sass */
#banners {
  width: 501px;
  margin: auto; }
  /* line 52, sass/_banners.sass */
  #banners a {
    border: none; }
    /* line 54, sass/_banners.sass */
    #banners a img {
      border: none; }
  /* line 58, sass/_banners.sass */
  #banners .campaign {
    width: 247px;
    float: left;
    margin-right: 7px; }
    /* line 62, sass/_banners.sass */
    #banners .campaign.last {
      margin-right: 0px; }
    /* line 64, sass/_banners.sass */
    #banners .campaign h2 {
      text-transform: uppercase;
      vertical-align: middle;
      margin: 0;
      margin-top: 5px;
      padding: 0; }
      /* line 67, sass/_banners.sass */
      #banners .campaign h2 img {
        vertical-align: middle; }
    /* line 72, sass/_banners.sass */
    #banners .campaign ul {
      padding: 0; }
      /* line 74, sass/_banners.sass */
      #banners .campaign ul li {
        background-image: url("../images/blue-arrow.jpg");
        background-repeat: no-repeat;
        background-position: 0px;
        list-style-image: none;
        list-style: none;
        padding-left: 1em; }

/* line 2, sass/_newsletters.sass */
body.news_letters .content {
  margin-left: 235px; }
  /* line 4, sass/_newsletters.sass */
  body.news_letters .content h1 {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    color: #0E66AE; }
/* line 11, sass/_newsletters.sass */
body.news_letters .content .news_letter {
  margin-right: 15px;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #EFEFED;
  -moz-box-shadow: 3px 3px 3px #CCC;
  -webkit-box-shadow: 3px 3px 3px #CCC; }
  /* line 16, sass/_newsletters.sass */
  body.news_letters .content .news_letter img {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 250px; }
  /* line 21, sass/_newsletters.sass */
  body.news_letters .content .news_letter h2 {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal; }
    /* line 25, sass/_newsletters.sass */
    body.news_letters .content .news_letter h2 img {
      margin-bottom: 6px;
      margin-top: 0; }
  /* line 33, sass/_newsletters.sass */
  body.news_letters .content .news_letter a {
    text-decoration: none;
    color: #0E66AE;
    text-transform: uppercase;
    display: block;
    background-image: url(/images/arrow-blue.png);
    background-repeat: no-repeat;
    background-position: center right; }
    /* line 41, sass/_newsletters.sass */
    body.news_letters .content .news_letter a:hover {
      text-decoration: underline; }

/* line 1, sass/_sidebar.sass */
.sidebar {
  float: left;
  background-color: #F2F2F2;
  border: 1px solid #D5D5D3;
  display: inline;
  margin-left: 10px;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 124px;
  background-image: url(/images/project-lhs.jpg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  margin-bottom: 10px; }
  /* line 9, sass/_sidebar.sass */
  .sidebar img {
    border: 9px solid white;
    -moz-box-shadow: 3px 3px 3px #CCC;
    -webkit-box-shadow: 3px 3px 3px #CCC; }
  /* line 14, sass/_sidebar.sass */
  .sidebar ul {
    list-style-type: none;
    width: 185px;
    padding: 0;
    margin: 0; }
    /* line 19, sass/_sidebar.sass */
    .sidebar ul li {
      height: 35px;
      border-top: 1px solid #BBB;
      padding: 10px 0px;
      color: #0E66AE;
      text-transform: uppercase;
      font-size: 12px; }
      /* line 26, sass/_sidebar.sass */
      .sidebar ul li a {
        line-height: 35px; }
      /* line 28, sass/_sidebar.sass */
      .sidebar ul li.current {
        height: auto; }
        /* line 30, sass/_sidebar.sass */
        .sidebar ul li.current a {
          line-height: 14px; }
      /* line 32, sass/_sidebar.sass */
      .sidebar ul li.first {
        border-top: none; }
      /* line 34, sass/_sidebar.sass */
      .sidebar ul li p {
        margin: 0px;
        font-size: 12px;
        color: #000;
        text-transform: none; }
    /* line 39, sass/_sidebar.sass */
    .sidebar ul a {
      color: #0E66AE;
      text-transform: uppercase;
      font-size: 12px;
      display: block;
      background-repeat: no-repeat;
      background-position: center right;
      background-image: url(/images/arrow-lhs-menu.jpg); }
    /* line 49, sass/_sidebar.sass */
    .sidebar ul ul a {
      background-position: center left;
      padding-left: 20px;
      color: #C9162C;
      height: auto;
      background-image: none; }
    /* line 55, sass/_sidebar.sass */
    .sidebar ul ul li {
      padding-top: 3px;
      padding-bottom: 3px;
      height: auto;
      border: none; }
      /* line 60, sass/_sidebar.sass */
      .sidebar ul ul li.current a {
        color: #0E66AE;
        background-image: url(/images/arrow-lhs-menu.jpg); }
  /* line 69, sass/_sidebar.sass */
  body.services .sidebar {
    background-image: url(/images/services-lhs-shadow.jpg); }
  /* line 71, sass/_sidebar.sass */
  body.projects .sidebar, body.websites .sidebar {
    background-image: url(/images/project-lhs-shadow.jpg); }
  /* line 73, sass/_sidebar.sass */
  body.company .sidebar, body.why_choose_us .sidebar {
    background-image: url(/images/about-lhs-shadow.jpg); }
  /* line 75, sass/_sidebar.sass */
  body.banners .sidebar {
    background-image: url(/images/banners-lhs-shadow.jpg); }
  /* line 77, sass/_sidebar.sass */
  body.news_letters .sidebar {
    background-image: url(/images/newsletter-lhs-shadow.jpg); }
  /* line 79, sass/_sidebar.sass */
  body.case_studies .sidebar {
    background-image: url(/images/casestudy-lhs-shadow.jpg); }
  /* line 81, sass/_sidebar.sass */
  body.enquiries .sidebar {
    background-image: url(/images/contact-lhs-shadow.jpg); }
  /* line 83, sass/_sidebar.sass */
  body.clients .sidebar {
    background-image: url(/images/clients-lhs-shadow.jpg); }

/* line 2, sass/_clients.sass */
body.clients .content {
  margin-right: 300px; }
/* line 4, sass/_clients.sass */
body.clients .client {
  width: 135px;
  height: 82px;
  float: left;
  margin-right: 10px;
  background-color: #F2F2F2;
  border: 1px solid #DEDEDE;
  margin-bottom: 10px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
/* line 15, sass/_clients.sass */
body.clients .client div {
  vertical-align: middle;
  display: table-cell;
  margin: 0px auto;
  height: 82px;
  width: 135px;
  text-align: center; }
/* line 22, sass/_clients.sass */
body.clients .client img, body.clients span {
  vertical-align: middle; }
/* line 24, sass/_clients.sass */
body.clients .banner {
  background-image: url(/images/contact.jpg);
  width: 980px;
  height: 192px;
  margin: 10px auto;
  background-repeat: no-repeat; }
  /* line 25, sass/_clients.sass */
  body.clients .banner a {
    display: block;
    height: 100%;
    width: 100%; }
    /* line 29, sass/_clients.sass */
    body.clients .banner a h2, body.clients .banner a p {
      text-indent: -9999em;
      overflow: hidden; }

/* line 26, sass/_modules.sass */
body.projects .content ul, body.projects .content li, body.projects .content ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 4, sass/_projects.sass */
body.projects .content li {
  margin-bottom: 10px; }
  /* line 5, sass/_projects.sass */
  body.projects .content li a {
    color: #0e66ae;
    text-transform: uppercase;
    padding-right: 20px;
    background-image: url('/images/black-arrow.png');
    background-position: center right;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    display: inline; }

/* line 14, sass/_projects.sass */
body.projects .banner, body.websites .banner, body.news_letters .banner, body.banners .banner {
  margin: 10px auto;
  background-repeat: no-repeat;
  background-image: url(/images/view-casestudy.jpg);
  width: 981px;
  height: 190px; }
  /* line 46, sass/_modules.sass */
  body.projects .banner a, body.websites .banner a, body.news_letters .banner a, body.banners .banner a {
    display: block;
    height: 100%;
    width: 100%; }
    /* line 50, sass/_modules.sass */
    body.projects .banner a h1, body.projects .banner a h2, body.projects .banner a p, body.websites .banner a h1, body.websites .banner a h2, body.websites .banner a p, body.news_letters .banner a h1, body.news_letters .banner a h2, body.news_letters .banner a p, body.banners .banner a h1, body.banners .banner a h2, body.banners .banner a p {
      text-indent: -9999em;
      overflow: hidden; }

/* line 3, sass/_tags.sass */
body.tags .wrapper h1 {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  margin: 10px;
  margin-right: 50px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 18px; }

/* line 1, sass/_flash.sass */
.notice {
  padding: .8em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
  margin-bottom: 10px; }

/* line 8, sass/_flash.sass */
.notice a {
  color: #514721; }

/* line 2, sass/_comments.sass */
body.posts #comments, body.posts .new_comment {
  margin-left: 10px; }
  /* line 4, sass/_comments.sass */
  body.posts #comments .comment, body.posts .new_comment .comment {
    margin-top: 10px;
    padding: 1px; }
  /* line 7, sass/_comments.sass */
  body.posts #comments .comment_content, body.posts #comments #comment_message, body.posts .new_comment .comment_content, body.posts .new_comment #comment_message {
    background-color: #EFEFED;
    width: 386px;
    margin-left: 125px;
    padding: 25px;
    border: none;
    outline: none;
    font-size: 12px; }
  /* line 15, sass/_comments.sass */
  body.posts #comments input[type=text], body.posts .new_comment input[type=text] {
    padding: 15px;
    width: 406px;
    display: block;
    margin-left: 125px;
    font-size: 12px;
    margin-top: 10px;
    border: 1px solid #DBDBDB; }
  /* line 23, sass/_comments.sass */
  body.posts #comments input[type=submit], body.posts .new_comment input[type=submit] {
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 60px;
    color: #FFF;
    background-color: #A3101A;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: none;
    padding: 4px 6px;
    font-size: 12px;
    text-transform: uppercase; }
  /* line 35, sass/_comments.sass */
  body.posts #comments #comment_message, body.posts .new_comment #comment_message {
    height: 125px; }
  /* line 37, sass/_comments.sass */
  body.posts #comments .author, body.posts #comments .created, body.posts .new_comment .author, body.posts .new_comment .created {
    float: left;
    clear: left; }
  /* line 40, sass/_comments.sass */
  body.posts #comments #fake_email, body.posts .new_comment #fake_email {
    display: none; }
  /* line 42, sass/_comments.sass */
  body.posts #comments h2, body.posts .new_comment h2 {
    color: #0e66ae; }

/* line 1, sass/_subscribe.sass */
body.subscribe .content {
  margin-left: 10px; }
  /* line 3, sass/_subscribe.sass */
  body.subscribe .content strong {
    font-weight: normal;
    text-transform: uppercase; }
