<div id="markers">
  <div></div>
  <span id="project">LATEST PROJECT </span> 
</div>
<div id="slide_show" align="center"><%= image_tag Project.find(:first, :conditions => 'slide_file_name is not null', :order => 'position').slide.url, :size => '300x227' %></div>

<div id="content">
<%= RedCloth.new(@page.content.to_s).to_html %></div>
</div>
<div id="sub-category" align="right"><img src="/images/iphone/latest-news.gif" width="93" height="18" alt="latest news" /></div>
<div id="sub-category" align="right">
<img src="/images/iphone/services-2.gif" width="93" height="19" alt="services" /></div>
<div id="sub-category" align="right">
<img src="/images/iphone/contact-2.gif" width="93" height="19" alt="contact us" /></div>
<div id="twitter" align="right"><img src="images/iphone/follow.gif" alt="twitter" /></div>