<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>With Imagination</title>
<link href="css/wi.css" rel="stylesheet" type="text/css" />
</head>

<body class="background">
<table width="1005" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="top_banner">&nbsp;</td>
  </tr>
  <tr>
    <td class="container_content"><table width="1005" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="hero"><img src="images/hero.jpg" alt="Latest Project" width="460" height="336" /></td>
        <td class="line"><img src="images/line.jpg" alt="line" width="7" height="320" /></td>
        <td class="text_container">
        	<h1>Lorem ipsum dolor sit amet, ut nunc.</h1><br />
        	<h2>Maecenas condimentum, curabitur pede pellentesque, arcu dui enim. 
				Nisl purus. Et nec neque, eget rhoncus, lacus magna nulla. Cursus 
				magna purus. Integer lacinia <br /><br />
                Integer ac, vel congue fringilla. Curae quis, nonummy lacus eros. 
                Dictum morbi non, sagittis repellat molestie. Montes et ligula, 
                aliquam non, class vitae. Ut donec, ipsum mauris aliquam. 
                Pellentesque urna blandit, nulla eros mauris, cras nisl. Lectus 
                fringilla, mauris justo orci, libero at commodo. Libero sed, 
                pellentesque in amet. <br /><br />
				Sapien consequat sem. Odio primis, duis rutrum, ultrices viverra.
				Tincidunt luctus, pellentesque pellentesque risus, tortor per. Vitae dolor.
                <br /> <br />
                <a href="#">more >></a>                </h2>        </td>
        <td class="share_container" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right"><img src="images/share.jpg" alt="share" width="42" height="156" /></td>
          </tr>
          <tr>
            <td valign="bottom" align="right" height="170px"><a href="#"><img src="images/google_logo.jpg" alt="google logo" width="78" height="76" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="boxes_container" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top"><table width="320" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="latest_news"><img src="images/boxes/latest_news.jpg" alt="latest news" width="94" height="13" /></td>
          </tr>
          <tr>
            <td class="content_box" valign="top">
           		<ul>
            	  <% News.find(:all, :limit => 2, :order => 'created_at desc').each do |news| %>
                  <li>
                    <strong><%= news.title %></strong><br />
                    <%= news.content %>
                    <a href="#">more >></a>
                  </li>
                <% end %>
      			</ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#E0E0E0" align="left"><img src="images/boxes/bottom_left.jpg" width="8" height="9" /></td>
          </tr>
        </table></td>
        <td align="center" valign="top"><table width="320" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="services" align="left"><img src="images/boxes/services.jpg" alt="services" /></td>
          </tr>
          <tr>
            <td class="content_box" align="left" valign="top">
            <ul>
            
            <li><strong>Web Design and Development</strong><br />
            Sapien consequat sem. Odio primis, duis rutrum, 
			ultrices viverra.<br />
            <a href="#">more >></a>            </li>
            
            <li><strong>e-Commerce Solutions</strong><br />
            Sapien consequat sem. Odio primis, duis rutrum.
            <br /> 
            <a href="#">more >></a>            </li>
            
            <li><strong>Online Marketing</strong><br />
            Sapien consequat sem. Odio primis more >> </li>
            </li>
            </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#E0E0E0"><img src="images/boxes/bottom.jpg" /></td>
          </tr>
        </table></td>
        <td align="right" valign="top"><table width="320" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="contact" align="left"><img src="images/boxes/contact_us.jpg" alt="contact us" width="84" height="12" class="style1" /></td>
          </tr>
          <tr>
            <td class="content_contact" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
            Email:<a href="#"> info@wi.com.au</a><br />
			Phone: + 61 2 9929 9229<br />
			Fax: + 61 2 9460 4770<br /></td>
  </tr>
  <tr>
    <td class="field_container"> <input name="name" type="text" class="field" value="name" size="11" maxlength="100" /></td>
  </tr>
  <tr>
    <td class="field_container"> <input name="email address" type="text" class="field" value="email address" size="11" maxlength="100"  /></td>
  </tr>
  <tr>
    <td class="field_container"><input name="phone" type="text" class="field" value="phone" size="11" maxlength="100"  /></td>
  </tr>
  <tr>
    <td class="field_container"><a href="#"><img src="images/submit.jpg" alt="submit" width="58" height="23" border="0" /></a></td>
  </tr>
</table>
          
            </td>
          </tr>
          <tr>
            <td bgcolor="#E0E0E0" align="right"><img src="images/boxes/bottom_right.jpg" /></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/bottom.jpg" /></td>
  </tr>
  <tr>
    <td class="footer_container" style="padding-top:5px"><table width="1005" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="footer" valign="middle" height="89px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="clients"><img src="images/footer/our_clients.jpg" alt="our clients" width="84" height="20" /></td>
    <td><a href="#"><img src="images/footer/quantas_logo.jpg" alt="quantas" width="61" height="63" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/sydney_cancer.jpg" alt="sydney cancer" width="69" height="63" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/well_at_work.jpg" alt="well at work" width="77" height="38" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/opus.jpg" alt="opus" width="70" height="62" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/revlon_logo.jpg" alt="revlon" width="68" height="20" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/optus.jpg" alt="optus" width="62" height="63" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/cta_logo.jpg" alt="cta" width="42" height="64" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/almay_logo.jpg" alt="almay" border="0" /></a></td>
  </tr>
</table>
</td>
      </tr>
      <tr>
        <td align="right" valign="top" bgcolor="#CFD0D0" class="reflection">® Copyright 2008  |
        <a class="reflection" href="#">Contact Us</a>  |<a class="reflection" href="#">About Us</a>  |  <a class="reflection" href="#">Privacy</a> </td>
      </tr>
    </table></td>
  </tr>
</table>
 </body>
</html>
