- @page_title = @news.title
.page_text_content.news_text_content
  %h1{:style => 'float: none'}= @news.title
  - if admin?
    = link_to "edit", edit_news_item_path(@news)
  = simple_format(@news.content )