- content_for :head do 
  \

.breadcrumbs
  %ul
    %li= link_to 'home', root_path
    %li Company

.sidebar
  = image_tag @page.image.url
  %ul
    %li.current
      = link_to  'Company', company_path
      %p We care about the web and our mission is to try and make the web experience even better by delivering the best possible solution
    %li= link_to 'Why Choose Us', why_choose_us_path

.content
  :textile
    h1. Company
    
    We have 16 years experience in delivering and supporting web based solutions and are privately owned.

    Using our strong technology skills we have evolved from being a b-2-b web applications provider.

    We care about the web and our mission is to try and make the web experience even better.

    We are also keen to play our part in creating a positive impact and supporting the following internet industry associations: "Australian Interactive Media Industry Association":http://www.aimia.com.au, "Internet Industry Association":http://www.iia.net.au and "Interactive Advertising Bureau":http://www.iabaustralia.com.au.

    All our services are delivered by experienced and passionate staff who will help you to plan, manage and implement your solution successfully.

    We focus and strive on helping medium sized enterprises and corporations.

    Do you need some advice or have a defined project in mind? Then why not contact us today!
