<table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td><img src="images/company/banner.jpg" width="978" height="99" alt="banner" /></td>
     </tr>
     <tr>
       <td class="breadcrumb"><a href="#">home</a> &gt; company</td>
     </tr>
     <tr>
       <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td class="lhs_menu" valign="top">
           <table width="150" border="0" cellspacing="0" cellpadding="0">
 <tr>
   <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
   <td class="menu"><strong>COMPANY</strong></td>
 </tr>
    <tr>
   <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
   <td class="menu"><a class="menu" href="why_choose_us.html">Why Choose Us?</a></td>
 </tr>
</table>

           </td>
           <td width="7px"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
           <td valign="top" class="subtext_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><img src="images/company/WI_logo.jpg" alt="with imagination logo" width="42" height="99" /></td>
               <td><h2>With Imagination was incorporated in 1993 with a vision to provide technology based business solutions. 
               We offer a range of online solutions including<strong> <a href="services.html#design">website design</a> & <a href="services.html#development">website development</a>,<a href="services.html#ecommerce">e-commerce solutions</a></strong> and <strong><a href="services.html#advertising">online marketing services</a></strong>.
               <br />
               Our focus is simple, to provide are range of effective internet consultancy products and services that add value to our clients business.
               </h2></td>
             </tr>
             <tr>
               <td colspan="2"><h2>Through <a href="services.html"><strong>our services</strong></a> With Imagination has helped many successful small & medium sized companies to fully understand the commercial 
               opportunities of the internet along with maximizing their online investment. <br />
               <br /> 
               <strong>Our services</strong> include: <strong>website design, website development, web hosting, e-commerce solutions and online marketing services</strong> such as; <strong>web strategy, 
               email marketing campaigns, search engine marketing, database generation, promotions and competitions</strong> plus advertising media
               including<strong> banners, pop-ups and skyscrapers. <br /><br /></strong>
               
               Do you have a project in mind? Then why not <a href="contact_us.html">c<strong>ontact us</strong></a> today!      
               </h2></td>
             </tr>
           </table></td>
           <td width="7px"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
           <td class="rhs_menu" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td class="RHS_heading"><img src="images/inspiration.jpg" width="81" height="19" /></td>
             </tr>
             <tr>
               <td class="RHS_heading"><img src="images/projects.jpg" alt="projects" width="126" height="125" /></td>
             </tr>
             <tr>
               <td class="RHS_heading"><a href="contact_us.html"><img src="images/contact_button.jpg" alt="contact us" width="80" height="23" border="0" /></a></td>
             </tr>
           </table></td>
         </tr>
       </table></td>
     </tr>
     <tr>
       <td align="right"><a href="#"><img src="images/google_logo.jpg" alt="google" width="78" height="76" border="0" /></a></td>
     </tr>
   </table>