<% @page_title = nil %>
<% content_for :head do %>
  
<% end %>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td><img src="images/portfolio/work_banner.jpg" alt="how we work" width="978" height="99" /></td>
     </tr>
     <tr>
       <td class="breadcrumb"><a href="#">home</a> &gt; how we work</td>
     </tr>
     <tr>
       <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td class="lhs_menu" valign="top">
           <table width="150" border="0" cellspacing="0" cellpadding="0">

   <tr>
   <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
   <td class="menu"><a class="menu" href="<%= projects_path %>">Projects</a></td>
 </tr>
     <tr>
   <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
   <td class="menu"><a class="menu" href="who_we_help.html">Who We've Helped</a></a></td>
 </tr>
       <tr>
   <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
   <td class="menu"><strong>How We Work</a></strong></td>
 </tr>

</table>

           </td>
           <td width="7px"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
           <td valign="top" class="subtext_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
               <td align="center"><img src="images/portfolio/process/how-we-work.jpg" alt="how we work" /></td>
             </tr>
           </table></td>
           <td width="7px"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
           <td class="rhs_menu" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td class="RHS_heading"><img src="images/inspiration.jpg" width="81" height="19" /></td>
             </tr>
             <tr>
               <td class="RHS_heading"><img src="images/projects.jpg" alt="projects" width="126" height="125" /></td>
             </tr>
             <tr>
               <td class="RHS_heading"><a href="contact_us.html"><img src="images/contact_button.jpg" alt="contact us" width="80" height="23" border="0" /></a></td>
             </tr>
           </table></td>
         </tr>
       </table></td>
     </tr>
   </table>