%p
  %b Title:
  =h @page.title
%p
  %b Content:
  =h @page.content
%p
  %b Keywords:
  =h @page.keywords
%p
  %b Permalink:
  =h @page.permalink
%p
  %b Description:
  =h @page.description
%p
  %b Summary:
  =h @page.summary
= link_to 'Edit', edit_page_path(@page) if admin?
= link_to 'Back', home_path 
