- content_for :head do 
  \
= breadcrumbs_for :subscribe
= render 'enquiries/sidebar'
.content
  :textile
    h1. Thanks for subscribing

    Thank you for your interest in receiving the With Imagination newsletter. You will begin to receive the newsletter when the next edition is released.

    Your email address is safe with us and every newsletter includes an unsubscribe link.
