- content_for :head do 
  \
= breadcrumbs_for :subscribe
= render 'enquiries/sidebar'
.content
  :textile
    h1. Thanks for subscribing

    You've joins hundereds of others who get our useful and not so monthly tips on getting the most from the web.
    
    You'll hear from us in the next month or so.
    
    If you didn't already know, we *really* has spam, so your email address is super safe with us.
    
    Every newsletter we send includes an unsubscribe link. One click, and you're outta the loop!
