<table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td><img src="images/company/why-choose-us.jpg" alt="why choose us" width="978" height="99" /></td>
     </tr>
     <tr>
       <td class="breadcrumb"><a href="#">home</a> &gt; company</td>
     </tr>
     <tr>
       <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td class="lhs_menu" valign="top">
           <table width="150" border="0" cellspacing="0" cellpadding="0">

    <tr>
   <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
   <td class="menu"><a class="menu" href="company.html">Company</a></td>
 </tr>
 <tr>
   <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
   <td class="menu"><strong>WHY CHOOSE US</strong></td>
 </tr>

</table>

           </td>
           <td width="7px"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
           <td valign="top" class="subtext_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
               <td><h1> WHY CHOOSE US?</h1>
               </td>
               </tr>
               <tr>
               <td><h2>
                  <p>Deliver a quality product at a realistic price</p>
                  <p>Offer high levels of customer service</p>
                  <p>Trusted partner to small & medium enterprises and corporations</p>
                  <p>Tested process and procedures to deliver projects on time</p>
                  <p>Knowledge and experience in the design & development of websites </p>
                  <p>Implement e-commerce solutions</p>
                  <p>Can provide additional online marketing services to maximise your investment </p>
                  <p>Easy to do business with</p>
               </h2></td>
             </tr>
           </table></td>
           <td width="7px"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
           <td class="rhs_menu" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td class="RHS_heading"><img src="images/inspiration.jpg" width="81" height="19" /></td>
             </tr>
             <tr>
               <td class="RHS_heading"><img src="images/projects.jpg" alt="projects" width="126" height="125" /></td>
             </tr>
             <tr>
               <td class="RHS_heading"><a href="contact_us.html"><img src="images/contact_button.jpg" alt="contact us" width="80" height="23" border="0" /></a></td>
             </tr>
           </table></td>
         </tr>
       </table></td>
     </tr>
     <tr>
       <td align="right"><a href="#"><img src="images/google_logo.jpg" alt="google" width="78" height="76" border="0" /></a></td>
     </tr>
   </table>