<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="images/portfolio/banner.jpg" alt="portfolio" width="978" height="99" /></td>
    </tr>
    <tr>
      <td class="breadcrumb"><a href="#">home</a> &gt; projects</td>
    </tr>
    <tr>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="lhs_menu" valign="top">
          <table width="150" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
  <td class="menu"><strong>PORTFOLIO</strong></td>
</tr>
    <tr>
  <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
  <td class="menu"><a class="menu" href="who_we_help.html">Who We Helped online</a></td>
</tr>
      <tr>
  <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
  <td class="menu"><a class="menu" href="process.html">How We Work</a></td>
</tr>
</table>

          </td>
          <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="500" />&nbsp;</td>
          <td valign="top" class="subtext_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
              <td colspan="2">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td class="thumbnail"><img src="images/portfolio/revlon.jpg" alt="revlon" width="250" height="175" /></td>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_container"><img src="images/portfolio/revlon_logo.jpg" alt="revlon logo" width="75" height="21" /></td>
    </tr>
    <tr>
      <td><h2>Revlon is a world leader in cosmetics, skin care, fragrance and personal care
and is a leading mass market cosmetics brand. Its vision is to provide glamour, 
excitement and innovation through quality products at affordable prices.</h2></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td class="thumbnail"><img src="images/portfolio/optus.jpg" alt="optus" width="250" height="175" /></td>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_container"><img src="images/portfolio/optus_logo.jpg" alt="optus logo" width="68" height="67" /></td>
    </tr>
    <tr>
      <td><h2>Optus Wholesale extranet is an ordering and reporting system. 
Its ordering system is customise as the form and ordering process can be 
defined by an user's administrator</h2></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td class="thumbnail"><img src="images/portfolio/almay.jpg" alt="almay" width="250" height="175" /></td>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_container"><img src="images/portfolio/almay_logo.jpg" alt="almay logo" width="72" height="16" /></td>
    </tr>
    <tr>
      <td><h2>Since 1931, Almay has helped women look and feel their best with 
good-for-you cosmetics in the most flattering shimmers and shades—
all while staying true to our heritage of using pure, hypoallergenic ingredients.</h2></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td class="thumbnail"><img src="images/portfolio/opus.jpg" alt="opus" width="250" height="175" /></td>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_container"><img src="images/portfolio/opus_logo.jpg" alt="opus_logo" width="76" height="63" /></td>
    </tr>
    <tr>
      <td><h2>Opus is an on-line gift store. This site features easy to negotiate shopping 
        basket facilities and a gift reminder service. Register important occasions 
        and receive an email a few days before the event.</h2></td>
    </tr>
  </table></td>
</tr>
</table>

              </td>
            </tr>
            <tr>
            <td><img src="images/portfolio/page1.jpg" alt="page 1" border="0" usemap="#Map" />              </td>
            </tr>
          </table></td>
          <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="500" />&nbsp;</td>
          <td class="rhs_menu" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="RHS_heading"><img src="images/inspiration.jpg" width="81" height="19" /></td>
            </tr>
            <tr>
              <td class="RHS_heading"><img src="images/projects.jpg" alt="projects" width="126" height="125" /></td>
            </tr>
            <tr>
              <td class="RHS_heading"><a href="contact_us.html"><img src="images/contact_button.jpg" alt="contact us" width="80" height="23" border="0" /></a></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td align="right"><a href="#"><img src="images/google_logo.jpg" alt="google" width="78" height="76" border="0" /></a></td>
    </tr>
  </table>