<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="images/portfolio/banner.jpg" alt="portfolio" width="978" height="99" /></td>
    </tr>
    <tr>
      <td class="breadcrumb"><a href="#">home</a> &gt; projects</td>
    </tr>
    <tr>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="lhs_menu" valign="top">
          <table width="150" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
  <td class="menu"><strong>PORTFOLIO</strong></td>
</tr>
    <tr>
  <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
  <td class="menu"><a class="menu" href="who_we_help.html">Who We Helped online</a></td>
</tr>
      <tr>
  <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
  <td class="menu"><a class="menu" href="process.html">How We Work</a></td>
</tr>
</table>

          </td>
          <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="500" />&nbsp;</td>
          <td valign="top" class="subtext_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
              <td colspan="2">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td class="thumbnail"><img src="images/portfolio/cta.jpg" alt="CTA" width="250" height="175" /></td>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_container"><img src="images/portfolio/cta_logo.jpg" alt="cta Logo" width="42" height="65" /></td>
    </tr>
    <tr>
      <td><h2>Revlon is a world leader in cosmetics, skin care, fragrance and personal care
and is a leading mass market cosmetics brand. Its vision is to provide glamour, 
excitement and innovation through quality products at affordable prices.</h2></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td class="thumbnail"><img src="images/portfolio/quantas.jpg" alt="quantas" width="250" height="175" /></td>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_container"><img src="images/portfolio/quantas_logo.jpg" alt="quantas logo" width="62" height="71" /></td>
    </tr>
    <tr>
      <td><h2>This is a fully dynamic training site built by Qantas for its travel agents. 
Allowing them access to both training material and training modules for the 
GDS systems.</h2></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td class="thumbnail"><img src="images/portfolio/sydney_cancer_centre.jpg" alt="sydney cancer centre" width="250" height="175" /></td>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_container"><img src="images/portfolio/sydney_cancer_centre_logo.jpg" alt="sydney cancer centre" width="76" height="71" /></td>
    </tr>
    <tr>
      <td><h2>The Sydney Cancer Centre is at the forefront of cancer care and research 
in Australia. We are based at Royal Prince Alfred Hospital, have facilities at 
Concord Hospital, and provide outreach services to Dubbo Base Hospital. </h2></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td class="thumbnail"><img src="images/portfolio/well_at_work.jpg" alt="well at work" width="251" height="176" /></td>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_container"><img src="images/portfolio/well_at_work_logo.jpg" alt="well at work logo" width="81" height="37" /></td>
    </tr>
    <tr>
      <td><h2>A great health and lifestyle web site featuring tons of research information,
tips, recipes and planning tools</h2></td>
    </tr>
  </table></td>
</tr>
</table>

              </td>
            </tr>
            <tr>
            <td><img src="images/portfolio/page2.jpg" alt="page 2" border="0" usemap="#Map" />              </td>
            </tr>
          </table></td>
          <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="500" />&nbsp;</td>
          <td class="rhs_menu" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="RHS_heading"><img src="images/inspiration.jpg" width="81" height="19" /></td>
            </tr>
            <tr>
              <td class="RHS_heading"><img src="images/projects.jpg" alt="projects" width="126" height="125" /></td>
            </tr>
            <tr>
              <td class="RHS_heading"><a href="contact_us.html"><img src="images/contact_button.jpg" alt="contact us" width="80" height="23" border="0" /></a></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td align="right"><a href="#"><img src="images/google_logo.jpg" alt="google" width="78" height="76" border="0" /></a></td>
    </tr>
  </table>