.contact_details
  %h2 Contact Details
  %p
    If you are interested in talking to us then we would love to hear from you.
    The best person to get in touch with is our General Manager <strong>Derek Nash</strong>.
  %ul
    %li.phone +61 2 9929 9229
    %li.email= mail_to 'info@wi.com.au','info@wi.com.au', :encode => 'javascript'
  .map
    :plain
      <iframe width="290" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=44+miller+st+north+sydney&amp;sll=-33.839891,151.206325&amp;sspn=0.005881,0.009559&amp;ie=UTF8&amp;hq=&amp;hnear=44+Miller+St,+North+Sydney+New+South+Wales+2060,+Australia&amp;ll=-33.837235,151.207924&amp;spn=0.011407,0.012445&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=44+miller+st+north+sydney&amp;sll=-33.839891,151.206325&amp;sspn=0.005881,0.009559&amp;ie=UTF8&amp;hq=&amp;hnear=44+Miller+St,+North+Sydney+New+South+Wales+2060,+Australia&amp;ll=-33.837235,151.207924&amp;spn=0.011407,0.012445&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  .address
    %h4 Address
    Level 5, 44 Miller St<br />
    North Sydney NSW 2060 Australia
    
