<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>With Imagination</title>
<link href="css/wi.css" rel="stylesheet" type="text/css" />
</head>

<body class="background"><% form_for @enquiry, :url => enquiry_path do |f| %>
<div style="width:1005px; position:relative; margin:auto"> 
<table width="1005" border="0" align="center" cellpadding="0" cellspacing="0" style="position:absolute; overflow:hidden">
  <tr>
   <td class="top_banner"><div style="width:420px; position:relative; margin:auto; height:100%">
      
      <table width="420" border="0" cellspacing="0" cellpadding="0" style="position:absolute; left: 281px; top: 107px; overflow:hidden; clear:both;">
        <tr>
          <td class="top_menu"><a href="index.html"><img src="images/tab/home.gif" alt="home" border="0"/></a></td>
          <td class="top_menu"><a href="company.html"><img src="images/tab/company.gif" alt="company" border="0" /></a></td>
          <td class="top_menu"><a href="services.html"><img src="images/tab/services.gif" alt="services" border="0" /></a></td>
          <td class="top_menu"><a href="portfolio_1.html"><img src="images/tab/projects.gif" alt="projects" width="79" height="26" border="0" /></a></td>
          <td class="top_menu"><img src="images/tab/contact_visited.gif" alt="contact us" border="0" /></td>
        </tr>
      </table>
    </div> </td>
  </tr>
  <tr>
    <td class="sub_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="images/contact/banner.jpg" alt="contact us" width="978" height="99" /></td>
      </tr>
      <tr>
        <td class="breadcrumb"><a href="#">home</a> &gt; contact us</td>
      </tr>
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="lhs_menu" valign="top">

            <table width="150" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
    <td class="menu"><strong>CONTACT US</strong></td>
  </tr>
 </table>

            </td>
            <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
            <td valign="top" class="subtext_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <h1>Thank you</h1>
                    <p>We will be in touch shortly</p>
                  </td>
                </tr>
            </table></td>
            <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
            <td class="rhs_menu" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="RHS_heading"><img src="images/inspiration.jpg" width="81" height="19" /></td>
              </tr>
              <tr>
                <td class="RHS_heading"><img src="images/projects.jpg" alt="projects" width="126" height="125" /></td>
              </tr>
              <tr>
                <td class="RHS_heading"><a href="portfolio_1.html"><img src="images/contact/portfolio.jpg" alt="portfolio" width="72" height="23" border="0" /></a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="right"><a href="#"><img src="images/google_logo.jpg" alt="google" width="78" height="76" border="0" /></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/bottom.jpg" /></td>
  </tr>
  <tr>
    <td class="footer_container" style="padding-top:5px"><table width="1005" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="footer" valign="middle" height="89px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="clients"><img src="images/footer/our_clients.jpg" alt="our clients" width="84" height="20" /></td>
    <td><a href="#"><img src="images/footer/quantas_logo.jpg" alt="quantas" width="61" height="63" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/sydney_cancer.jpg" alt="sydney cancer" width="69" height="63" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/well_at_work.jpg" alt="well at work" width="77" height="38" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/opus.jpg" alt="opus" width="70" height="62" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/revlon_logo.jpg" alt="revlon" width="68" height="20" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/optus.jpg" alt="optus" width="62" height="63" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/cta_logo.jpg" alt="cta" width="42" height="64" border="0" /></a></td>
    <td><a href="#"><img src="images/footer/almay_logo.jpg" alt="almay" border="0" /></a></td>
  </tr>
</table>
</td>
      </tr>
    <tr>
        <td align="right" valign="top" bgcolor="#CFD0D0" class="reflection">® Copyright 2009  |
        <a class="reflection" href="contact_us.html">Contact Us</a>  |<a class="reflection" href="company.html">Company</a>  |  <a class="reflection" href="portfolio_1.html">Projects</a> </td>
      </tr>
    </table></td>
  </tr>
</table><% end %>
 </body>
</html>
