<% @page_title = nil %>
<% content_for :head do %>
  
<% end %>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="images/contact/banner.jpg" alt="contact us" width="978" height="99" /></td>
      </tr>
      <tr>
        <td class="breadcrumb"><a href="#">home</a> &gt; contact us</td>
      </tr>
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="lhs_menu" valign="top">

            <table width="150" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
    <td class="menu"><strong>CONTACT US</strong></td>
  </tr>
 </table>

            </td>
            <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
            <td valign="top" class="subtext_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <p>Thank you very much for taking the time to contact With Imagination. We’ll be in touch very soon.</p>
		    <p>Kind regards,<br><br><br>
		       Derek Nash<br>
		       <b>With Imagination</b><br>
		       websites web applications web marketing<br>
		       phone + 612 9929 9229 mobile + 0400449960  <br>
		       web + www.wi.com.au  email + derek.nash@wi.com.au 
                  </td>
                </tr>
            </table></td>
            <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
            <td class="rhs_menu" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="RHS_heading"><img src="images/inspiration.jpg" width="81" height="19" /></td>
              </tr>
              <tr>
                <td class="RHS_heading"><img src="images/projects.jpg" alt="projects" width="126" height="125" /></td>
              </tr>
              <tr>
                <td class="RHS_heading"><a href="portfolio_1.html"><img src="images/contact/portfolio.jpg" alt="portfolio" width="72" height="23" border="0" /></a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table>